* {
    font-family: 'Noto Sans TC';
}

.v-md-toolbar {
    display: flex;
}

.v-md-container {
    .btn-group {
        margin-right: 0px !important;
    }
    .btn-outline-secondary {
        margin-left: 10px;
    }
}